* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans','sans seriff';
    font-weight: 400;
    font-style: normal;
    
}

.part_1{
    background-color: #029f58;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 26px;
    padding-left: 23px;  
}

.logo_nav {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 212px;
    
}
.logo_nav .img{
    height: 30px;
    width: 83px;
    
}

.menu_nav {
    display: flex;
    padding: 20px;
}

.menu_nav .img{
    height: 31px;
    width: 39px;
    gap: 144px;
}

.inner_nav {
    display: none;
}

.contents{
    display: flex;
    flex-direction: column;
    color: white;
     margin-top: 144px;
     align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.header{
    display: flex;
    padding-left: 34px;
    padding-right: 34px;
}

.header_h6{
 font-size: 54px;
 font-weight: 700;
 line-height: 54.05px;
 word-wrap: break-word;
 text-align: center; 
 margin-bottom: 24px;
}

.contents p{
 font-size: 16px;
 font-family: DM Sans;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word;
 padding-left: 33px;
 padding-right: 33px;
 text-align: center;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}



.pictures_3{
    padding-right: 53px;
    
}

.main{
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.sub-content{
    word-wrap: break-word; 
    font-family: 'DM Sans';
    padding-left:  33px;
    padding-right: 33px; 
    padding-bottom: 56px;
    justify-content: center;
    align-items: center;
}

.header-text{
color: #007640;
 font-size: 34px;
 font-weight: 500;
 line-height: 34.54px;
 text-align: center;
 padding-top: 56px;
}

.sub-content p{
color: black;
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
 text-align: center;
 padding-top: 24px;
}

  
  .image_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 56px;
}


  .sub-text{

    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 56px;
    word-wrap: break-word;
  }
  .sub-text h5{
    color: black;
    font-size: 34px;
    font-weight: 500;
    line-height: 34.54px;
    text-align: center;
    padding-bottom: 24px;
  }

  .sub-text p{
    color: #121212;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }

  .section_3 {
    background-color: #029f58;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inside_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 140px;
    padding-left: 32px;
    padding-right: 32px;
}


.response{
    color: white;
    word-wrap: break-word;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 51px;
}
.response h5{

 font-size: 34px;
 font-weight: 500;
 line-height: 34.54px;
 text-align: center;
 padding-bottom: 24px;
}

.response p{
color: white;
 font-size: 16px;
 font-weight: 500;
 line-height: 24px;
 text-align: center;
 margin-bottom: 152px;
}
  
  /*
  .chat_icon{
    padding-right: 44px;
    padding-top: 120px;
  }
  */
  
    

  .pill{
    display: block;
    justify-content: center;
    align-items: center;
   padding-top: 72px;
   padding-left: 20px;
   
  }

  .money{
    display: block;
    color: #121212;
    word-wrap: break-word;
    padding-top: 56px;
     
  }
  
  .money h6{
 font-size: 34px;
 font-weight: 500;
 line-height: 34.54px;
 padding-bottom: 24px;
 padding-left: 32px;
 padding-right: 32px;
 
  }
  .money p{
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
 padding-bottom: 31px;
 padding-left: 32px;
 padding-right: 32px;
  }



  .link {
    display: flex;
    align-items: center;
    padding-top: 76px;
    padding-left: 32px;
    padding-right: 32px;
}

  
  .link img {
    margin-right: 10px;
  }
  
  .link_outer {
    display: flex;
    flex-wrap: wrap;
  }

.link_text{
    padding-top: 56px;
}
    
.link_text h5{
 color: #007640;
 font-size: 34px;
 font-weight: 500;
 line-height: 34.54px;
 text-align: center;
}

.link_char{
    padding-top: 56px;
    padding-bottom: 16px;
}

.link_char h6{
 text-align: center;
 color: #121212;
 font-size: 24px;
 font-weight: 500;
 line-height: 27.98px;
 word-wrap: break-word;
}
.link_char p{
padding: 76px,53px,16px,53px;
color: #121212;
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word;
 text-align: center;
}
  

.section_5{
    background-color: #202020;
}
.filter.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.fifth{
    padding-top: 131px;
}
.noise{
    padding-top: 50px;
    padding-left: 32px;
    padding-right: 32px;
    color: white;
}

.noise h6{
 font-size: 34px;
 font-weight: 500;
 line-height: 34.37px;
 word-wrap: break-word;
 text-align: center;
 padding-bottom: 24px;
}

.noise p{
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word;
 text-align: center;
 padding-bottom: 138px;
 z-index: 1;
}


 .section_7 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #029f58;
        padding: 64px,24px,76px,24px;
        border-radius: 50px;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: -100px;
        position: relative;
    }


 .gallery {
        text-align: center;
        margin-bottom: 20px;
}

.gallery div {
        margin-bottom: 40px; 
 }

.gallery img {
        max-width: 150px; 
}

.Game{
    text-align: center;
        margin-bottom: 20px;
        color: white;
}
.Game h6{
 font-size: 48px;
 font-weight: 500;
 line-height: 48.77px;
 word-wrap: break-word;
 padding-top: 64px;
}

.Game p{
padding-top: 24px;
padding-bottom: 48px;
font-size: 16px;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word;
 padding-left: 44px;
 padding-right: 44px;
}

.horizontal-line {
    border-top: 1px solid #000; 
    margin-top: 53px; 
    margin-bottom: 59px;
    align-items: center;
}
.credit{
margin-left: 20px;
margin-right: 20px;
margin-bottom: 28px;
}

.credit h5{
    color: #121212;
     font-size: 24px;
     font-weight: 700;
     line-height: 36px;
     word-wrap: break-word;
     text-align: center;
}
   
.credit p{
    color: #121212;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    word-wrap: break-word;
    text-align: center;
}

.outer_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    border-color: #121212;

  }
  
  .inner_button {
    padding: 10px;
    background-color:white;
    
  }
  
  .last_button {
    padding: 10px;
    background-color:black;
    margin-left: 10px;
  }
  
  .last_button p {
    margin: 0;
    color: white;
    font-weight: bold;
  }
  
  .Group{
    padding-top: 64px;
    padding-bottom: 40px;
    padding-left: 32px;
    padding-right: 247px;
  }
   .badges{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    gap: 20px;
    padding-left: 64px;
   }


.footer {
    background-color: #fff;
    padding-top: 52px;
    padding-bottom: 77px;
  }
  .footer_nav {
    display: flex;
    flex-direction: column;
  }
  
  .nav_links a,
.nav_support a,
.nav_download a,
.nav_resource a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 24px;
}

.nav_links a:hover,
.nav_support a:hover,
.nav_download a:hover,
.nav_resource a:hover {
  background-color: red;
}

.special{
    color: #121212;
     font-size: 20px;
     font-weight: 500;
     font-family: 'DM Sans';
     line-height: 30px;
     word-wrap: break-word;
}

.pictures_4{display: none;}
.copy_1{display: none;}
.copy_2{display: none;}
.new{display: none;}


@media screen and (min-width: 1000px) {

.menu_nav{display:none;}

.inner_nav{
    display: flex;
    gap: 50px;
}
.inner_nav a {
    text-decoration: none;
    color: #FFFFFF;
    text-decoration: none;
}

.inner_nav a:hover {
    color: red;
}
.logo_nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px; 
    padding-right: 60px;
    padding-bottom: 30px;
}

.header_h6{
 font-size: 130px;
 line-height: 122.98px;

}
.contents p{
 font-size: 20px;
 font-weight: 500;
 line-height: 30px;
}

.pictures_3{
    display: none; 
}


.pictures_4{
    display: block;
}

.image_section {
    display: flex;
    align-items: center;
  }
  
  .sub-text {
    margin-right: 10px; /* Add spacing between the text and image */
  }
  
  .new {
    max-width: 100%; /* Adjust the image size as needed */
  }
 
  /*
  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
  }
  
  .copy_1 {
    grid-column: 1;
  }
 .copy_2{
        grid-column: 2;
 }*/

 .old{display: none;}
}  



    
